
<body >




  <div class="header">


  <h1> <a routerLinkActive="active"
    routerLink="home">СТК И СЧЕТА</a></h1>

  </div>

  <div class="container">

    <div class="box1">
    <a routerLinkActive="active"
       routerLink="/app-accountsbyid">Поиск СТК по Номеру </a>
  </div>
  <div class="box2">
    <a routerLinkActive="active"
       routerLink="/app-accounts">Поиск СТК по PIN</a>
  </div>

       <div class="box3">
        <a routerLinkActive="active"
           routerLink="/app-saccounts">Счета по PIN</a>
       </div>

       <div class="box4">
        <a routerLinkActive="active"
           routerLink="/app-saccountsnumber">Счета по Номеру</a>
       </div>





  </div>


  <div class="footer" >
    <app-desc176 ></app-desc176>
  </div>






</body>

