<!-- <div class="all">
<div class="context">
  <h1>СТК И СЧЕТА</h1>
</div>


<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <div class="container col-lg-6">
                <div class="card">
                  <div class="card-body">

<div class="form">
                    <form class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Логин</mat-label>
                      <input matInput placeholder="Введите логин" name="username"
                      [(ngModel)] ="username">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Пароль</mat-label>
                      <input matInput placeholder="Введите пароль" value="" name="password" type="password" [(ngModel)]= "password">
                      </mat-form-field>

                      <button class="button-ok" mat-raised-button color="primary" mat-raised-button  (click)="handleLogin()">Войти</button>

                      <span *ngIf="show"> <button mat-button >Вошли успешно!!</button></span>

                      </form>
                    </div>
                  </div>
                </div>
              </div>





      </ul>

</div >
</div> -->
