








HELLO



<!-- 
<div>
    <table  mat-table [dataSource]="saccounts">

      saccounts.name


          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: displayedColumns "(click)="showLo()"></tr>
          </table>


          <ul>
            <li #myDiv *ngFor="let element of saccounts">{{element.name}}</li>
            <li *ngFor="let element of saccounts">{{element.address}}</li>
          </ul>
</div> -->
