
body{
  background-color:#78A5A3;

}
.example-form{
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items:center;

}

button {
  margin: 0 auto;
  display: block;

}

.button-add{
  background-color: #E1B16A;
}


